<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Map of Loreto College Coleraine</name>

<description>
A application to show a Map of Loreto College College
</description>

<author href="https://example.com" email="you@example.com">
James Granleese
</author>

</widget>
